@import '../css/init_style.css';
.company_top_img .item_top_img_bg .item_top_img_left h1 {
  line-height: 1;
  font-size: clamp(1px,7.6388888889vw,110px);
  font-family: "Raleway";
  font-weight: bold;
  margin: 0;
}

.company_top_img .item_top_img_bg .item_top_img_left h2 {
  font-size: clamp(1px,2.4305555556vw,35px);
  line-height: 1;
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  margin: 0;
}

.company_form .company_form_container .company_form_title {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #D89F1C;
}
.company_form .company_form_container .company_form_title p {
  font-size: clamp(1px,2.0833333333vw,30px);
  font-weight: bold;
  font-family: "NotoSansCJKjp", sans-serif;
  margin: 0;
  padding: 20px 0 0;
  text-align: center;
}
.company_form .company_form_container .company_form_title div {
  display: block;
  height: 1px;
  margin: 0 auto;
  margin-top: 20px;
  width: 15vw;
  border-bottom: 3px solid #D89F1C;
}

.company_top_img {
  width: 100%;
  height: 100vh;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-top: 80px;
  padding-bottom: 20.72vh;
}
.company_top_img .item_top_img_bg {
  width: 100%;
  height: 100%;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
  z-index: -2;
  overflow: hidden;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  position: relative;
}
.company_top_img .item_top_img_bg .item_top_img_bg_dots {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../res/dots.png);
  z-index: -1;
}
.company_top_img .item_top_img_bg .item_top_img_left {
  margin-top: 31.53vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50vw;
  margin-left: 2.778vw;
}
.company_top_img .item_top_img_bg .item_top_img_left h1 {
  width: 50vw;
  color: #FFFFFF;
}
.company_top_img .item_top_img_bg .item_top_img_left h2 {
  color: #FFFFFF;
  margin-top: 2.7027vh;
}
.company_top_img .item_top_img_bg .item_top_img_right {
  margin-right: 2.778vw;
  margin-left: auto;
}
.company_top_img .item_top_img_bg .item_top_img_right p {
  font-size: clamp(1px,1.7361111111vw,25px);
  color: #FFFFFF;
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  margin: 0;
  margin-top: 47.7272vh;
}

.company_form .company_form_bg_right {
  width: 39.931vw;
  height: 48.264vw;
  background: url(../res/bg_right.png) no-repeat;
  position: absolute;
  top: 0;
  right: 0;
  background-position: 4.861vw 0px;
  z-index: -1;
}

.company_top_img .item_top_img_bg {
  background: url(../res/company_bg.jpg) no-repeat center;
}

.company_form {
  width: 100%;
  padding-bottom: 7.917vw;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}
@media (max-width: 1000px) {
  .company_form {
    width: 100%;
    padding-top: 0;
    padding-bottom: 17.867vw;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    position: relative;
  }
}
.company_form .company_form_bg_right {
  top: -9.028vw;
}
.company_form .company_form_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1000px) {
  .company_form .company_form_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 21.333vw;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_title {
    width: 100%;
    height: 6.667vw;
    margin: 0 auto;
  }
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_title p {
    font-size: clamp(1px,4vw,30px);
  }
}
.company_form .company_form_container .company_form_title div {
  width: 15vw;
  border-bottom: 3px solid #D89F1C;
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_title div {
    width: 29.333vw;
  }
}
.company_form .company_form_container .company_form_content {
  width: 69.444vw;
  margin-top: 7.222vw;
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_content {
    width: 80vw;
    margin-top: 9.333vw;
  }
}
.company_form .company_form_container .company_form_content ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_content ul {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}
.company_form .company_form_container .company_form_content ul hr {
  width: 100%;
  height: 1px;
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_content ul hr {
    width: 100%;
    height: 1px;
  }
}
.company_form .company_form_container .company_form_content ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  color: #000000;
  padding-top: 2.778vw;
  padding-bottom: 2.778vw;
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_content ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    color: #000000;
    padding-top: 2.3vw;
    padding-bottom: 2.3vw;
  }
}
.company_form .company_form_container .company_form_content ul li span {
  display: inline-block;
  width: 16.667vw;
  font-size: clamp(1px,2.0833333333vw,30px);
  font-family: "NotoSansCJKjp";
  font-weight: bold;
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_content ul li span {
    width: 17.333vw;
    font-size: clamp(1px,2.4vw,18px);
  }
}
.company_form .company_form_container .company_form_content ul li p {
  display: inline-block;
  font-size: clamp(1px,2.0833333333vw,30px);
  font-family: "NotoSansCJKjp";
}
@media (max-width: 1000px) {
  .company_form .company_form_container .company_form_content ul li p {
    font-size: clamp(1px,2.4vw,18px);
  }
}

.news_map {
  width: 100%;
  height: 36.528vw;
  position: relative;
  top: 8.75vw;
  border: 0;
}
@media (max-width: 1000px) {
  .news_map {
    top: 8.8vw;
    width: 100%;
    height: 66.667vw;
  }
}
.news_map iframe {
  width: 100%;
  height: 100%;
  border: none;
  -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
  clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
  border: 0;
}
@media (max-width: 1000px) {
  .news_map iframe {
    -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
    clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
  }
}/*# sourceMappingURL=company.css.map */