@import '../css/init_style.css';
.contact_top .item_top_img_left h1 {
  line-height: 1;
  font-size: clamp(1px,7.6388888889vw,110px);
  font-family: "Raleway";
  font-weight: bold;
  margin: 0;
}

.contact_top .item_top_img_left h2 {
  font-size: clamp(1px,2.4305555556vw,35px);
  line-height: 1;
  font-family: "NotoSansCJKjp";
  font-weight: bold;
  margin: 0;
}

.contact_top {
  width: 100%;
  padding-top: 80px;
}
@media (max-width: 1000px) {
  .contact_top {
    width: 100%;
    padding-top: 10.667vw;
  }
}
.contact_top .item_top_img_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50vw;
  margin-top: 2.778vwvw;
  margin-left: 2.778vw;
  color: #000000;
}
@media (max-width: 1000px) {
  .contact_top .item_top_img_left {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    width: auto;
    margin-left: 4vw;
  }
}
.contact_top .item_top_img_left h1 {
  width: 50vw;
  color: #000000;
}
@media (max-width: 1000px) {
  .contact_top .item_top_img_left h1 {
    width: auto;
    color: #000000;
  }
}
.contact_top .item_top_img_left h2 {
  color: #000000;
  margin-top: 2.7027vh;
}
@media (max-width: 1000px) {
  .contact_top .item_top_img_left h2 {
    color: #000000;
    margin-top: 2.667vw;
  }
}

.contact_container {
  width: 65.278vw;
  margin: 0 auto;
  padding-bottom: 6.944vw;
}
@media (max-width: 1000px) {
  .contact_container {
    width: 86.667vw;
    margin: 0 auto;
    padding-bottom: 13.333vw;
  }
}
.contact_container form {
  margin: 0 auto;
  width: 100%;
}
@media (max-width: 1000px) {
  .contact_container form {
    width: 100%;
    margin: 0 auto;
  }
}
.contact_container form .form_container {
  border-radius: 0.347vw;
  background: #FFFFFF;
  padding-top: 4.167vw;
  padding-bottom: 4.167vw;
  padding-left: 10.139vw;
  padding-right: 10.139vw;
  margin: 0 auto;
}
@media (max-width: 1000px) {
  .contact_container form .form_container {
    border-radius: 0.347vw;
    background: #FFFFFF;
    padding-top: 10.667vw;
    padding-bottom: 10.667vw;
    padding-left: 5.333vw;
    padding-right: 5.333vw;
    margin: 0 auto;
  }
}
.contact_container form .form_container button {
  padding: 0;
  outline: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 0;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 0.278vw;
  margin: 3.194vw auto 0;
  width: 29.583vw;
  height: 2.917vw;
  background: #b7b2b2;
  font-weight: bold;
  font-size: clamp(1px,0.9722222222vw,14px);
  color: #f9f7f6;
}
@media (max-width: 1000px) {
  .contact_container form .form_container button {
    padding: 0;
    outline: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border: 0;
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 1.06667vw;
    margin: 8.533vw auto 0;
    width: 100%;
    height: 11.2vw;
    background: #b7b2b2;
    font-weight: bold;
    font-size: clamp(1px,3.7333333333vw,28px);
    color: #f9f7f6;
  }
}
.contact_container form .form_container button.active {
  background: #0707ab;
}
@media (max-width: 1000px) {
  .contact_container form .form_container button.active {
    background: #0707ab;
  }
}
.contact_container form .form_container .contact_checkbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 1000px) {
  .contact_container form .form_container .contact_checkbox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
.contact_container form .form_container .contact_checkbox label {
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: inline-block;
  font-weight: normal;
  font-size: clamp(1px,1.1111111111vw,16px);
}
@media (max-width: 1000px) {
  .contact_container form .form_container .contact_checkbox label {
    position: relative;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    display: inline-block;
    font-weight: normal;
    font-size: clamp(1px,4.2666666667vw,32px);
  }
}
.contact_container form .form_container .contact_checkbox label input {
  position: absolute;
  opacity: 0;
  height: 0;
  cursor: pointer;
}
@media (max-width: 1000px) {
  .contact_container form .form_container .contact_checkbox label input {
    position: absolute;
    opacity: 0;
    height: 0;
    cursor: pointer;
  }
}
.contact_container form .form_container .contact_checkbox label input:checked ~ span:after {
  display: block;
}
.contact_container form .form_container .contact_checkbox label span {
  position: relative;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  display: inline-block;
  padding: 0 0 0 2.222vw;
}
@media (max-width: 1000px) {
  .contact_container form .form_container .contact_checkbox label span {
    position: relative;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    display: inline-block;
    padding: 0 0 0 8.53333vw;
  }
}
.contact_container form .form_container .contact_checkbox label span::before {
  position: absolute;
  content: "";
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  border-radius: 0;
  width: 1.111vw;
  height: 1.111vw;
  background: #f9f7f6;
  border: 0.069vw solid #b7b2b2;
}
@media (max-width: 1000px) {
  .contact_container form .form_container .contact_checkbox label span::before {
    position: absolute;
    content: "";
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    left: 0;
    border-radius: 0;
    width: 4.26667vw;
    height: 4.26667vw;
    background: #f9f7f6;
    border: 1px solid #b7b2b2;
  }
}
.contact_container form .form_container .contact_checkbox label span::after {
  left: 0.417vw;
  top: 0.417vw;
  width: 0.347vw;
  height: 0.694vw;
  border: solid #000000;
  border-width: 0 0.139vw 0.139vw 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  content: "";
  position: absolute;
  display: none;
}
@media (max-width: 1000px) {
  .contact_container form .form_container .contact_checkbox label span::after {
    left: 1.6vw;
    top: 1.6vw;
    width: 1.33333vw;
    height: 2.66667vw;
    border: solid #000000;
    border-width: 0 0.53333vw 0.53333vw 0;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    content: "";
    position: absolute;
    display: none;
  }
}
.contact_container form .form_container dl {
  margin-bottom: 1.944vw;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl {
    margin-bottom: 5.33333vw;
  }
}
.contact_container form .form_container dl dt {
  font-weight: bold;
  font-size: clamp(1px,1.1111111111vw,16px);
  margin-bottom: 0.556vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dt {
    font-weight: bold;
    font-size: clamp(1px,4.2666666667vw,32px);
    margin-bottom: 2.13333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact_container form .form_container dl dt span {
  width: 2.847vw;
  height: 1.389vw;
  border-radius: 0.278vw;
  background: #0707ab;
  font-weight: bold;
  font-size: clamp(1px,0.8333333333vw,12px);
  color: #FFFFFF;
  margin-right: 0.347vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dt span {
    width: 10.93333vw;
    height: 5.33333vw;
    border-radius: 1.06667vw;
    background: #0707ab;
    font-weight: bold;
    font-size: clamp(1px,3.2vw,24px);
    color: #FFFFFF;
    margin-right: 1.33333vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.contact_container form .form_container dl dd input {
  width: 100%;
  padding: 0 0.833vw;
  outline: none;
  font-size: clamp(1px,0.9722222222vw,14px);
  color: #000000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  height: 3.333vw;
  border-radius: 0.278vw;
  background: #f9f7f6;
  border: 0.069vw solid #b7b2b2;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd input {
    width: 100%;
    padding: 0 3.2vw;
    outline: none;
    font-size: clamp(1px,2.1333333333vw,16px);
    color: #000;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    height: 12.8vw;
    border-radius: 1.06667vw;
    background: #f9f7f6;
    border: 1px solid #b7b2b2;
  }
}
.contact_container form .form_container dl dd input::-webkit-input-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd input::-moz-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd input:-ms-input-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd input::-ms-input-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd input::placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd input::-webkit-input-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd input::-moz-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd input:-ms-input-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd input::-ms-input-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd input::placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
}
.contact_container form .form_container dl dd textarea {
  width: 100%;
  height: 21.667vw;
  padding: 0.694vw 0.833vw;
  outline: none;
  font-size: clamp(1px,0.9722222222vw,14px);
  color: #000000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 0.278vw;
  background: #f9f7f6;
  border: 0.069vw solid #b7b2b2;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd textarea {
    width: 100%;
    height: 62.93333vw;
    padding: 2.66667vw 3.2vw;
    outline: none;
    font-size: clamp(1px,2.1333333333vw,16px);
    color: #000;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    border-radius: 1.06667vw;
    background: #f9f7f6;
    border: 1px solid #b7b2b2;
  }
}
.contact_container form .form_container dl dd textarea::-webkit-input-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd textarea::-moz-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd textarea:-ms-input-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd textarea::-ms-input-placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
.contact_container form .form_container dl dd textarea::placeholder {
  color: #b7b2b2;
  opacity: 1;
  font-weight: 500;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd textarea::-webkit-input-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd textarea::-moz-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd textarea:-ms-input-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd textarea::-ms-input-placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
  .contact_container form .form_container dl dd textarea::placeholder {
    color: #b7b2b2;
    opacity: 1;
    font-weight: 500;
  }
}
.contact_container form .form_container dl dd textarea .error {
  background: #ffe8e8;
  border: 0.069vw solid #f94848;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd textarea .error {
    background: #ffe8e8;
    border: 1px solid #f94848;
  }
}
.contact_container form .form_container dl dd .contact_privacy {
  width: 31.944vw;
  height: 10.278vw;
  max-width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  margin: 0 auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 0.278vw;
  border: 0.069vw solid #707070;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd .contact_privacy {
    width: 61.333vw;
    height: 19.733vw;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    margin: 0 auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    border-radius: 0.533vw;
    border: 0.133vw solid #707070;
  }
}
.contact_container form .form_container dl dd .contact_privacy .contact_privacy_container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 1.111vw 2.222vw;
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd .contact_privacy .contact_privacy_container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 2.133vw 4.267vw;
  }
}
.contact_container form .form_container dl dd .contact_privacy .contact_privacy_container .contact_privacy_content {
  font-size: clamp(1px,0.9722222222vw,14px);
}
@media (max-width: 1000px) {
  .contact_container form .form_container dl dd .contact_privacy .contact_privacy_container .contact_privacy_content {
    font-size: clamp(1px,1.8666666667vw,14px);
    letter-spacing: 0.08em;
    line-height: 1.75;
    color: #000;
  }
}/*# sourceMappingURL=contact.css.map */