* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
}

button {
    border: none;
}

button:focus {
    outline: 0;
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

/* img {
    loading: lazy;
} */
.anchor {
    display: inline;
}

.hide {
    display: none;
}

.show {
    display: block;
}


/* 添加一个类来禁用页面滚动 */
.disable-scroll {
    overflow: hidden;
}

.close-image {
    margin-top: 2.667vw;
    margin-right: 2.667vw;
}

.centered-image {
    position: relative;
    left: 50%;
    top: 2.667vw;
    transform: translate(-50%, 0);
}
.active{
    color: A2453A;
}