@import '../css/init_style.css';
@import 'modules/pxtovw.scss';
@import 'modules/variable';

.company_top_img{
    @extend %item_top_img;
    .item_top_img_bg{
        background: url(../res/company_bg.jpg) no-repeat center;
    }
}

.company_form {
    width: 100%;
    padding-top: 0;
    padding-bottom: 7.917vw;
    box-sizing: border-box;
    position: relative;
    @media (max-width: 1000px) {
        width: 100%;
        padding-top: 0;
        padding-bottom: 17.867vw;
        box-sizing: border-box;
        position: relative;
    }

    .company_form_right {
        width: 39.931vw;
        position: absolute;
        top: 0;
        right: -4.861vw;
        z-index: -1;
    }

    .company_form_container {
        display: flex;
        flex-direction: column;
        margin-top: 7.292vw;
        align-items: center;
        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            margin-top: 21.333vw;
            align-items: center;
        }

        .company_form_title {
            width: 25vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $font_color3;
            @media (max-width: 1000px) {
                width: 100%;
                height: 6.667vw;
                margin: 0 auto;
            }

            p {
                @extend %home_p;
                color: $font_color3;
                @media (max-width: 1000px) {
                    font-size: sfont-adapter(30);
                }
            }

            div {
                @extend %home_underline;
                width: 15vw;
                border-bottom: 3px solid $font_color3;
                @media (max-width: 1000px) {
                    width: 29.333vw;
                }
            }
        }

        .company_form_content {
            width: 69.444vw;
            margin-top: 7.222vw;
            @media (max-width: 1000px) {
                width: 80vw;
                margin-top: 9.333vw;
            }
            ul{
                width: 100%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-between;
                @media (max-width: 1000px) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: space-between;
                }
                hr{
                    width: 100%;
                    height: 1px;
                    @media (max-width: 1000px) {
                        width: 100%;
                        height: 1px;
                    }
                }
                li{
                    display: flex;
                    flex-direction: row;
                    align-items: flex-start;
                    color: $font_color5;
                    padding-top: 2.778vw;
                    padding-bottom: 2.778vw;
                    @media (max-width: 1000px) {
                        display: flex;
                        flex-direction: row;
                        align-items: flex-start;
                        color: $font_color5;
                        padding-top: 2.3vw;
                        padding-bottom: 2.3vw;
                    }
                    span{
                        display: inline-block;
                        width: 16.667vw;
                        font-size: font-adapter(30);
                        font-family: "NotoSansCJKjp";
                        font-weight: bold;
                        @media (max-width: 1000px) {
                            width: 17.333vw;
                            font-size: sfont-adapter(18);
                        }
                    }
                    p{
                        display: inline-block;
                        font-size: font-adapter(30);
                        font-family: "NotoSansCJKjp";
                        @media (max-width: 1000px) {
                            font-size: sfont-adapter(18);
                        }
                    }
                }
            }



        }


    }


}

.news_map {
    width: 100%;
    height: 36.528vw;
    position: relative;
    top: 8.75vw;
    border: 0;
    @media (max-width: 1000px) {
        top: 8.8vw;
        width: 100%;
        height: 66.667vw;
    }
    iframe {
        width: 100%;
        height: 100%;
        border: none;
        -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
        clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
        border: 0;
        @media (max-width: 1000px) {
            -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
            clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
        }
    }
}