@import '../css/init_style.css';
@import 'modules/pxtovw.scss';
@import 'modules/_variable.scss';

.recruit_top_img{
    @extend %item_top_img;
    .item_top_img_bg{
        background: url(../res/recruit_bg.jpg) no-repeat center;
    }
}

.recruit_purpose {
    margin-top: 6.667vw;
    width: 100%;
    padding-top: 0;
    padding-bottom: 125px;
    box-sizing: border-box;
    position: relative;

    .recruit_purpose_right {
        width: 39.931vw;
        position: absolute;
        top: 0;
        right: -4.861vw;
        z-index: -1;

    }

    .recruit_purpose_container {
        display: flex;
        flex-direction: column;
        padding-top: 9.375vw;

        .recruit_purpose_title {
            width: 25vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $font_color3;

            p {
                @extend %home_p;
                color: $font_color3;
            }

            div {
                @extend %home_underline;
                width: 15vw;
                border-bottom: 3px solid $font_color3;
            }
        }

        .recruit_purpose_content {
            width: 91.389vw;
            padding-top: 5.903vw;
            margin-left: 2.778vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            img {
                width: 47.569vw;
            }
            .recruit_purpose_text{
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                margin-left: 2.083vw;
                p {
                    font-size: font-adapter(18);
                    font-family: "NotoSansCJKjp";
                    line-height: 1.5;
                    margin-bottom: 2.778vw;

                }
            }


        }
    }


}

.recruit_value {
    width: 100%;
    padding-top: 0;
    padding-bottom: 16.667vw;
    box-sizing: border-box;
    position: relative;

    .recruit_value_left {
        width: 39.931vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

    }

    .recruit_value_container {
        width: 66.319vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 9.375vw;
        margin: 0 auto;

        .recruit_value_title {
            width: 14.931vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $theme_color;

            p {
                @extend %home_p;
            }

            div {
                @extend %home_underline;
                width: 14.931vw;
                border-bottom: 3px solid $theme_color;
            }
        }

        .recruit_value_list{
            padding-top: 8.333vw;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            hr{
                width: 100%;
            }
            a{
                color: $font_color5;
                padding-top: 2.778vw;
                padding-bottom: 2.778vw;
                &:hover{
                    opacity: 0.6;
                }
            }
            span{
                font-size: font-adapter(30);
                font-family: "NotoSansCJKjp";
            }
            p{
                font-size: font-adapter(16);
                font-family: "NotoSansCJKjp";
                margin-top: 2.083vw;
            }

        }



    }


}

.recruit_data {
    width: 100%;
    padding-top: 0;
    padding-bottom: 9.028vw;
    box-sizing: border-box;
    position: relative;

    .recruit_data_right {
        width: 39.931vw;
        position: absolute;
        top: 0;
        right: -4.861vw;
        z-index: -1;

    }

    .recruit_data_container {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 9.375vw;

        .recruit_data_title {
            width: 25vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $font_color3;

            p {
                @extend %home_p;
                color: $font_color3;
            }

            div {
                @extend %home_underline;
                width: 15vw;
                border-bottom: 3px solid $font_color3;
            }
        }

        .recruit_data_imgbox{
            width: 81.25vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            margin: 0 auto;
            margin-top: 6.597vw;

            .recruit_data_imgitem{
                width: 100%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 38.889vw;
                    height: 27.778vw;
                    margin-bottom: 3.472vw;
                }
            }

        }

    }


}

.recruit_employee {
    width: 100%;
    box-sizing: border-box;
    position: relative;

    .recruit_employee_left {
        width: 39.931vw;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;

    }

    .recruit_employee_container {
        width: 81.25vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 9.375vw;
        margin: 0 auto;

        .recruit_employee_title {
            width: 14.931vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $theme_color;

            p {
                @extend %home_p;
            }

            div {
                @extend %home_underline;
                width: 14.931vw;
                border-bottom: 3px solid $theme_color;
            }
        }

        .recruit_employee_list{
            padding-top: 5.903vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            .recruit_employee_item{
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                margin-bottom: 6.944vw;
                .recruit_employee_img{
                    width: 31.25vw;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    img{
                        width: 31.25vw;
                        height: 31.25vw;
                    }
                    span{
                        font-size: font-adapter(24);
                        font-family: "NotoSansCJKjp";
                        margin-top: 2.083vw;
                        font-weight: bold;
                    }
                    p{
                        font-size: font-adapter(24);
                        font-family: "NotoSansCJKjp";
                        margin-top: 2.083vw;
                        font-weight: bold;
                    }
                    
                }

                .recruit_employee_text{
                    margin-left: 4.514vw;
                    span{
                        display: block;
                        font-size: font-adapter(24);
                        font-family: "NotoSansCJKjp";
                        font-weight: bold;
                    }
                    p{
                        font-size: font-adapter(18);
                        font-family: "NotoSansCJKjp";
                        margin-top: 1.389vw;
                        margin-bottom: 3.125vw;
                    }
                }

            }
        }



    }


}
