@import '../css/init_style.css';
@import 'modules/pxtovw.scss';
@import 'modules/variable';

.service_top_img{
    @extend %item_top_img;
    .item_top_img_bg{
        background: url(../res/services_bg.jpg) no-repeat center;
    }
}

.services01 {
    width: 100%;
    padding-bottom: 8.681vw;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1000px) {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        position: relative;
    }
    .services01_bg_right{
        @extend %bg_right;
        top: -9.028vw;
    }
    .services01_container {
        display: flex;
        flex-direction: column;
        align-items: center;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            margin-top: 21.333vw;
            align-items: center;
        }

        .services01_title {
            @extend %home_title;

            @media (max-width: 1000px) {
                width: 100%;
                height: 6.667vw;
                margin: 0 auto;
            }

            p {
                @media (max-width: 1000px) {
                    font-size: sfont-adapter(30);
                }
            }

            div {
                width: 15vw;
                border-bottom: 3px solid $font_color3;
                @media (max-width: 1000px) {
                    width: 29.333vw;
                }
            }
        }

        .services01_content {
            width: 91.389vw;
            padding-top: 5.903vw;
            margin-left: 2.778vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media (max-width: 1000px) {
                width: 84vw;
                padding-top: 0;
                padding-top: 0;
                margin: 0 auto;
                margin-top: 6.667vw;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 47.569vw;

                @media (max-width: 1000px) {
                    width: 73.333vw;
                    height: auto;
                    margin-bottom: 9.333vw;
                }
            }

            .services01_content_list {
                padding-left: 2.083vw;

                @media (max-width: 1000px) {
                    padding-left: 0;
                }

                p {
                    width: 41.667vw;
                    font-size: font-adapter(18);
                    font-family: "NotoSansCJKjp";
                    line-height: 1.5;

                    @media (max-width: 1000px) {
                        width: 100%;
                        font-size: sfont-adapter(18);
                    }
                }


                ul {
                    margin-top: 4.167vw;
                    height: 13.889vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (max-width: 1000px) {
                        margin-top: 5.333vw;
                        height: 26.667vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                    }

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        @media (max-width: 1000px) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 3.333vw;
                        }

                        img {
                            width: 1.25vw;
                            height: 1.25vw;

                            @media (max-width: 1000px) {
                                margin-bottom: 0;
                                width: 2.4vw;
                                height: 2.4vw;
                                display: inline-block;
                            }
                        }

                        p {
                            width: 41.667vw;
                            font-size: font-adapter(20);
                            font-family: "NotoSansCJKjp";
                            line-height: 1.5;
                            margin-left: 1.042vw;

                            @media (max-width: 1000px) {
                                width: auto;
                                font-size: sfont-adapter(20);
                                margin-left: 2vw;
                            }
                        }
                    }
                }



            }

        }

        .services_case {
            width: 70vw;
            margin-top: 6.944vw;

            @media (max-width: 1000px) {
                width: 79.333vw;
                margin-top: 10vw;

            }

            span {
                font-size: font-adapter(24);
                font-family: "NotoSansCJKjp";
                font-weight: bold;
                color: $font_color5;

                @media (max-width: 1000px) {
                    font-size: sfont-adapter(24);
                }
            }

            p {
                font-size: font-adapter(18);
                font-family: "NotoSansCJKjp";
                color: $font_color5;
                line-height: 1.5;
                margin-top: 1.736vw;
                margin-bottom: 4.861vw;

                @media (max-width: 1000px) {
                    font-size: sfont-adapter(18);
                    margin-top: 3.333vw;
                    margin-bottom: 8vw;

                    br {
                        display: none;
                    }
                }
            }
        }
    }


}

.services02 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 125px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1000px) {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        position: relative;
    }

    .services02_bg_right {
        @extend %bg_left;
        top: 0;
        right: 0;
        left: auto;    
        background-position: 4.861vw 0px;

    }

    .services02_container {
        display: flex;
        flex-direction: column;
        padding-top: 9.375vw;
        align-items: center;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            margin-top: 21.333vw;
            align-items: center;
        }

        .services02_title {
            @extend %home_title;
            color: $theme_color;

            @media (max-width: 1000px) {
                width: 100%;
                height: 6.667vw;
                margin: 0 auto;
            }

            p {
                @media (max-width: 1000px) {
                    font-size: sfont-adapter(30);
                }
            }

            div {
                width: 15vw;
                border-bottom: 3px solid $theme_color;
                @media (max-width: 1000px) {
                    width: 29.333vw;
                }
            }
        }

        .services02_content {
            width: 91.389vw;
            padding-top: 5.903vw;
            margin-left: 2.778vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media (max-width: 1000px) {
                width: 84vw;
                padding-top: 0;
                padding-top: 0;
                margin: 0 auto;
                margin-top: 6.667vw;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 47.569vw;

                @media (max-width: 1000px) {
                    width: 73.333vw;
                    height: auto;
                    margin-bottom: 9.333vw;
                }
            }

            .services01_content_list {
                padding-left: 2.083vw;

                @media (max-width: 1000px) {
                    padding-left: 0;
                }

                p {
                    width: 41.667vw;
                    font-size: font-adapter(18);
                    font-family: "NotoSansCJKjp";
                    line-height: 1.5;

                    @media (max-width: 1000px) {
                        width: 100%;
                        font-size: sfont-adapter(18);
                    }
                }


                ul {
                    margin-top: 4.167vw;
                    height: 13.889vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                    @media (max-width: 1000px) {
                        margin-top: 5.333vw;
                        height: 26.667vw;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        justify-content: space-between;
                    }

                    li {
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        @media (max-width: 1000px) {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            height: 3.333vw;
                        }

                        img {
                            width: 1.25vw;
                            height: 1.25vw;

                            @media (max-width: 1000px) {
                                margin-bottom: 0;
                                width: 2.4vw;
                                height: 2.4vw;
                                display: inline-block;
                            }
                        }

                        p {
                            width: 41.667vw;
                            font-size: font-adapter(20);
                            font-family: "NotoSansCJKjp";
                            line-height: 1.5;
                            margin-left: 1.042vw;

                            @media (max-width: 1000px) {
                                width: auto;
                                font-size: sfont-adapter(20);
                                margin-left: 2vw;
                            }
                        }
                    }
                }



            }
        }

        .services_case {
            width: 70vw;
            margin-top: 6.944vw;

            @media (max-width: 1000px) {
                width: 79.333vw;
                margin-top: 10vw;

            }

            span {
                font-size: font-adapter(24);
                font-family: "NotoSansCJKjp";
                font-weight: bold;
                color: $font_color5;

                @media (max-width: 1000px) {
                    font-size: sfont-adapter(24);
                }
            }

            p {
                font-size: font-adapter(18);
                font-family: "NotoSansCJKjp";
                color: $font_color5;
                line-height: 1.5;
                margin-top: 1.736vw;
                margin-bottom: 4.861vw;
                @media (max-width: 1000px) {
                    font-size: sfont-adapter(18);
                    margin-top: 3.333vw;
                    margin-bottom: 3.333vw;

                    br {
                        display: none;
                    }
                }
            }
        }
    }


}

.services03 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 125px;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1000px) {
        width: 100%;
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        position: relative;
    }

    .services02_bg_right {
        @extend %bg_right;
    }

    .services03_container {
        display: flex;
        flex-direction: column;
        padding-top: 9.375vw;
        align-items: center;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
            padding-top: 0;
            margin-top: 21.333vw;
            align-items: center;
        }

        .services03_title {
            @extend %home_title;

            @media (max-width: 1000px) {
                width: 100%;
                height: 6.667vw;
                margin: 0 auto;
            }

            p {
                @media (max-width: 1000px) {
                    font-size: sfont-adapter(30);
                }
            }

            div {
                width: 15vw;
                border-bottom: 3px solid $font_color3;
                @media (max-width: 1000px) {
                    width: 29.333vw;
                }
            }
        }

        .services03_content {
            width: 91.389vw;
            padding-top: 5.903vw;
            margin-left: 2.778vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            @media (max-width: 1000px) {
                width: 84vw;
                padding-top: 0;
                padding-top: 0;
                margin: 0 auto;
                margin-top: 6.667vw;
                margin-bottom: 26.667vw;
                display: flex;
                flex-direction: column;
                align-items: center;
            }

            img {
                width: 47.569vw;

                @media (max-width: 1000px) {
                    width: 73.333vw;
                    height: auto;
                    margin-bottom: 9.333vw;
                }
            }

            .services03_content_list {
                padding-left: 2.083vw;

                @media (max-width: 1000px) {
                    padding-left: 0;
                }

                p {
                    width: 41.667vw;
                    font-size: font-adapter(18);
                    font-family: "NotoSansCJKjp";
                    line-height: 1.5;

                    @media (max-width: 1000px) {
                        width: 100%;
                        font-size: sfont-adapter(18);
                    }
                }
            }

        }
    }


}