@import '../css/init_style.css';
@import 'modules/pxtovw.scss';
@import 'modules/variable';



.services {
    width: 100%;
    height: 100vh;
    padding-bottom: 6.667vw;
    box-sizing: border-box;
    @media (max-width: 1000px) {
        width: 100%;
        height: 66.667vw;
        padding-bottom: 0;
        box-sizing: border-box;
    }
    .services_content {
        width: 100%;
        display: flex;
        flex-direction: column;
        @media (max-width: 1000px) {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        .services_body {
            height: 55.556vw;
            width: 100%;
            display: flex;
            flex-direction: row;
            @media (max-width: 1000px) {
                height: 66.667vw;
                width: 100%;
                display: flex;
                flex-direction: row;
            }
            .bg_container {
                height: 100%;
                img {
                    width: 100%;
                    position: absolute;
                    top: 0px;
                    left: 0;
                    z-index: -1;
                    -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
                    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
                }
            }

            .services_body_left {
                margin-top: 25vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 50vw;
                margin-left: 2.778vw;
                @media (max-width: 1000px) {
                    margin-top: 14.667vw;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    width: 58.933vw;
                    margin-left: 4vw;

                }
                h1 {
                    @extend %home_h1;
                    width: 50vw;
                    color: $font_color4;
                    @media (max-width: 1000px) {
                        font-size: sfont-adapter(100);
                    }
                }

                h2 {
                    @extend %home_h2;
                    color: $font_color4;
                    margin-top: 2.083vw;
                    margin-bottom: 2.778vw;
                    @media (max-width: 1000px) {
                        font-size: sfont-adapter(30);
                        margin-top: 3vw;
                        margin-bottom: 0;
                    }
                }

            }

            .services_body_right {
                height: 20.833vw;
                margin-right: 2.778vw;
                margin-left: auto;

                p {
                    font-size: font-adapter(25);
                    color: $font_color4;
                    font-family: "NotoSansCJKjp";
                    font-weight: bold;
                    margin: 0;
                    margin-top: 40vw;
                }
            }

        }


    }
}

.services01 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 125px;
    box-sizing: border-box;
    position: relative;

    .services01_right {
        width: 39.931vw;
        position: absolute;
        top: 0;
        right: -4.861vw;
        z-index: -1;
    }

    .services01_container {
        display: flex;
        flex-direction: column;
        padding-top: 9.375vw;
        align-items: center;

        .services01_title {
            width: 25vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $font_color3;

            p {
                @extend %home_p;
                color: $font_color3;
            }

            div {
                @extend %home_underline;
                width: 15vw;
                border-bottom: 3px solid $font_color3;
            }
        }

        .services01_content {
            width: 91.389vw;
            padding-top: 5.903vw;
            margin-left: 2.778vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            img {
                width: auto;
                width: 47.569vw;
            }
            .services01_content_list{
                padding-left: 2.083vw;

                p {
                    width: 41.667vw;
                    font-size: font-adapter(18);
                    font-family: "NotoSansCJKjp";
                    line-height: 1.5;
                }
         

                ul{
                    margin-top: 4.167vw;
                    height: 13.889vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img{
                            width: 1.25vw;
                            height: 1.25vw;
                        }
                        p {
                            width: 41.667vw;
                            font-size: font-adapter(20);
                            font-family: "NotoSansCJKjp";
                            line-height: 1.5;
                            margin-left: 1.042vw;
                        }
                    }
                }



            }

        }

        .services_case{
            width: 70vw;
            margin-top: 6.944vw;
            span{
                font-size: font-adapter(24);
                font-family: "NotoSansCJKjp";
                font-weight: bold;
                color: $font_color5;
            }
            p{
                font-size: font-adapter(18);
                font-family: "NotoSansCJKjp";
                color: $font_color5;
                line-height: 1.5;
                margin-top: 1.736vw;
                margin-bottom: 4.861vw;
            }
        }
    }


}

.services02 {
    width: 100%;
    padding-top: 0;
    padding-bottom: 125px;
    box-sizing: border-box;
    position: relative;

    .services02_right {
        width: 39.931vw;
        position: absolute;
        top: 0;
        right: -4.861vw;
        z-index: -1;
    }

    .services02_container {
        display: flex;
        flex-direction: column;
        padding-top: 9.375vw;
        align-items: center;


        .services02_title {
            width: 40vw;
            height: 4.167vw;
            margin: 0 auto;
            @extend %home_title;
            color: $theme_color;

            p {
                @extend %home_p;
                ;
            }

            div {
                @extend %home_underline;
                width: 15vw;
                border-bottom: 3px solid $theme_color;
            }
        }

        .services02_content {
            width: 91.389vw;
            padding-top: 5.903vw;
            margin-left: 2.778vw;
            display: flex;
            flex-direction: row;
            align-items: flex-start;

            img {
                width: auto;
                width: 47.569vw;
            }

            .services01_content_list{
                padding-left: 2.083vw;

                p {
                    width: 41.667vw;
                    font-size: font-adapter(18);
                    font-family: "NotoSansCJKjp";
                    line-height: 1.5;
                }
         

                ul{
                    margin-top: 4.167vw;
                    height: 13.889vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    li{
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        img{
                            width: 1.25vw;
                            height: 1.25vw;
                        }
                        p {
                            width: 41.667vw;
                            font-size: font-adapter(20);
                            font-family: "NotoSansCJKjp";
                            line-height: 1.5;
                            margin-left: 1.042vw;
                        }
                    }
                }



            }
        }

        .services_case{
            width: 70vw;
            margin-top: 6.944vw;
            span{
                font-size: font-adapter(24);
                font-family: "NotoSansCJKjp";
                font-weight: bold;
                color: $font_color5;
            }
            p{
                font-size: font-adapter(18);
                font-family: "NotoSansCJKjp";
                color: $font_color5;
                line-height: 1.5;
                margin-top: 1.736vw;
                margin-bottom: 4.861vw;
            }
        }
    }


}

.services_bottom{
    width: 100%;
    height: 20.833vw;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        -webkit-clip-path: polygon(0% 70%, 0% 100%, 100% 100%);
        clip-path: polygon(0% 70%, 0% 100%, 100% 100%);
        background-color: #234670;
        border: 0;
    }
}