@import '../css/init_style.css';
@import 'modules/_mouse.scss';
@import 'modules/pxtovw.scss';
@import 'modules/_variable.scss';

.top {
    width: 100%;
    height: 100vh;
    position: relative;
    box-sizing: border-box;
    // padding-top: 10.667vw;
    padding-bottom: 5.855vh;

    @media (max-width: 1000px) {
        width: 100%;
        height: 100vh;
        position: relative;
        box-sizing: border-box;
        padding-top: 10.667vw;
        padding-bottom: 5.882vh;
    }

    .top_content {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;

        @media (max-width: 1000px) {
            width: 100%;
            height: 100%;
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        .top_top {
            width: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: -1;
            content: url(../res/top_up.png);

            @media (max-width: 1000px) {
                width: 100%;
                position: absolute;
                top: 0;
                right: 0;
                z-index: -1;
                content: url(../res/s_top_up.png);
            }
        }

        .top_left {
            height: 48.264vw;
            position: absolute;
            top: 23.423423vh;
            left: -2.083vw;
            z-index: -1;
            content: url(../res/top_left.png);

            @media (max-width: 1000px) {
                width: 101.867vw;
                height: auto;
                left: -12vw;
                top: 6.86vh;
                content: url(../res/s_top_left.png);
            }
        }

        p {
            width: 32.292vw;
            font-size: font-adapter(24);
            font-family: NotoSansCJKjp;
            font-weight: bold;
            color: $font_color1;
            display: block;
            margin-top: 26.8vh;
            margin-left: auto;
            margin-right: 4.861vw;
            z-index: 10;

            @media (max-width: 1000px) {
                width: 61.867vw;
                font-size: sfont-adapter(24);
                margin: 0 auto;
                text-align: center;
                margin-top: 36.764vh;
            }

            span {
                color: $font_color3;
            }
        }

        .top_btn {
            @extend %home_btn;
            margin-top: 3.6vh;
            margin-left: auto;
            margin-right: 19.375vw;
            background-color: $button_color;
            border-radius: 2.083vw;
            width: 18.056vw;
            height: 4.167vw;
            z-index: 10;

            div {
                width: 18.056vw;
                height: 4.167vw;
            }

            @media (max-width: 1000px) {
                display: none;
            }
        }

        .s_top_btn {
            display: none;

            @media (max-width: 1000px) {
                margin: 0 auto;
                margin-top: 2.94vh;
                background-color: $button_color;
                border-radius: 4vw;
                z-index: 10;
                width: 34.667vw;
                height: 8vw;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    width: 34.667vw;
                    height: 8vw;
                    transition: all 0.3s;
                    position: relative;
                    border-radius: 4vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    span {
                        font-family: NotoSansCJKjp;
                        font-size: sfont-adapter(16);
                        font-weight: bold;
                        color: $font_color4;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 1.2em;
                        top: 48%;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        width: 3.467vw;
                        height: 2vw;
                        background-image: url(../res/top_arrow.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        transition: 0.5s;
                    }

                    &:hover {
                        opacity: 0.8;
                    }

                    &:hover::after {
                        right: 0.5em;
                    }
                }
            }
        }

        .top_imgshow {
            width: 75.833vw;
            margin-top: 8.108vh;
            padding-right: 2.778vw;
            margin-left: auto;
            margin-right: 0;
            z-index: 10;

            @media (max-width: 1000px) {
                margin-top: 10.667vw;
                width: 94.667vw;
                padding-right: 0;
            }

            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                li {

                    img {
                        width: 24.306vw;
                        height: 15vw;

                        @media (max-width: 1000px) {
                            width: 30.667vw;
                            height: 18.667vw;
                        }
                    }
                }
            }
        }

        .top_right {
            height: 2.326vw;
            margin-top: 1.8018vh;
            margin-right: 2.083vw;
            margin-left: auto;
            z-index: 10;

            @media (max-width: 1000px) {
                height: 4.467vw;
                margin-top: 4vw;
                margin-right: 2.667vw;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }

        .top_bottom {
            height: 3.472vw;
            margin: 0 auto;
            margin-top: 1.35vh;
            display: flex;
            flex-direction: column;
            align-items: center;

            @media (max-width: 1000px) {
                display: none;
            }

            &:hover {
                cursor: pointer;
                opacity: 0.6;
            }
        }
    }
}


.top_aboutus {
    width: 100%;
    padding-bottom: 19.444vw;
    box-sizing: border-box;
    transform: skewY(-5deg);

    @media (max-width: 1000px) {
        width: 100%;
        padding-bottom: 18.667vw;
        box-sizing: border-box;
        transform: skewY(-5deg);
    }

    .top_aboutus_content {
        display: flex;
        flex-direction: column;

        @media (max-width: 1000px) {
            display: flex;
            flex-direction: column;
        }

        .top_aboutus_top {
            width: 100%;
            padding-top: 11.111vw;
            padding-bottom: 11.111vw;
            background-color: #D89F1C;

            @media (max-width: 1000px) {
                width: 100%;
                height: 38.667vw;
                background-color: #D89F1C;
            }

            .top_aboutus_top_title {
                transform: skewY(5deg);
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                @media (max-width: 1000px) {
                    transform: skewY(5deg);
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                }

                .top_aboutus_top_text_container {
                    p {
                        @extend %home_p;
                        color: white;

                        @media (max-width: 1000px) {
                            // @extend %home_p;
                            font-size: sfont-adapter(30);
                            font-weight: bold;
                            font-family: "NotoSansCJKjp", sans-serif;
                            margin: 0;
                            padding: 20px 0 0;
                            text-align: center;
                            color: white;
                        }
                    }

                    .top_aboutus_top_underline {
                        @extend %home_underline;
                        width: 18vw;
                        border-bottom: 3px solid white;

                        @media (max-width: 1000px) {
                            // @extend %home_underline;
                            display: block;
                            height: 1px;
                            margin: 0 auto;
                            margin-top: 2.667vw;
                            width: 28.667vw;
                            border-bottom: 3px solid white;
                        }
                    }
                }

            }
        }

        .top_aboutus_body {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;

            @media (max-width: 1000px) {
                width: 100%;
                position: relative;
                display: flex;
                flex-direction: column;
                // background: url(../res/s_aboutus_body_bg.png) no-repeat center;
                // background-size: cover;
            }

            .top_video_container {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-image: url(../res/dots.png);
                overflow: hidden;



                @media (max-width: 1000px) {
                    // height: 100%;
                    // display: none;
                }

                video {
                    width: 100%;
                    height: 100%;
                    transform: skewY(5deg);
                    position: absolute;
                    top: 0;
                    left: 0;
                    z-index: -1;
                    object-fit: cover;

                    @media (max-width: 1000px) {
                        width: 100%;
                        height: 100%;
                        transform: skewY(5deg);
                        position: absolute;
                        top: 0;
                        left: 0;
                        z-index: -1;
                        object-fit: cover;
                    }

                }

            }

            .top_aboutus_body_left {
                transform: skewY(5deg);
                margin-top: 15.625vw;
                margin-bottom: 14.583vw;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                width: 50vw;
                margin-left: 2.778vw;

                @media (max-width: 1000px) {
                    transform: skewY(5deg);
                    margin-top: 16vw;
                    margin-bottom: 0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    margin-left: 0;
                    padding-left: 4.667vw;
                }

                h1 {
                    @extend %home_h1;
                    width: 50vw;
                    color: $font_color4;

                    @media (max-width: 1000px) {
                        width: auto;
                        font-size: sfont-adapter(100);

                    }
                }

                h2 {
                    @extend %home_h2;
                    color: white;
                    margin-top: 2.083vw;
                    margin-bottom: 2.778vw;

                    @media (max-width: 1000px) {
                        font-size: sfont-adapter(30);
                        margin-top: 4vw;
                        margin-bottom: 0;
                    }
                }

                .top_aboutus_btn {
                    @extend %home_btn;
                    background-color: rgba(0, 0, 0, 0);
                    border-radius: 2.083vw;
                    border: 1px solid white;

                    @media (max-width: 1000px) {
                        display: none;
                    }
                }

            }

            .top_aboutus_body_right {
                transform: skewY(5deg);
                margin-right: 2.778vw;
                margin-left: auto;
                position: relative;
                bottom: 5.556vw;

                @media (max-width: 1000px) {
                    margin: 0 auto;
                    transform: skewY(5deg);
                    position: relative;
                    bottom: 0;
                }

                p {
                    font-size: font-adapter(25);
                    color: white;
                    font-family: "NotoSansCJKjp";
                    font-weight: bold;
                    margin: 0;
                    margin-top: 40vw;

                    @media (max-width: 1000px) {
                        font-size: sfont-adapter(20);
                        color: white;
                        font-family: "NotoSansCJKjp";
                        font-weight: bold;
                        line-height: 1.5;
                        margin: 0;
                        margin-top: 12.667vw;
                    }
                }
            }

            .top_s_aboutus_btn {
                @extend %s_home_btn;

                background-color: rgba(0, 0, 0, 0);
                border-radius: 4vw;
                border: 1px solid white;
                transform: skewY(5deg);
                margin: 0 auto;

                display: none;

                @media (max-width: 1000px) {
                    display: block;
                    margin-top: 16.667vw;
                    margin-bottom: 12.667vw;
                }
            }
        }
    }
}

.top_recruit {
    padding-top: 0;
    padding-bottom: 22.639vw;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1000px) {
        padding-top: 0;
        padding-bottom: 23.467vw;
        box-sizing: border-box;
        position: relative;
    }

    .top_recruit_top {
        width: 66vw;
        margin: 0 auto;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        @media (max-width: 1000px) {
            width: 80.8vw;
            margin: 0 auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }

        .top_recruit_line {
            width: 14.931vw;
            height: 1px;
            background-color: #D89F1C;

            @media (max-width: 1000px) {
                width: 8vw;
                height: 1px;
                background-color: #D89F1C;
            }
        }

        h2 {
            color: #D89F1C;
            margin: 0 2.778vw;
            font-size: font-adapter(30);

            @media (max-width: 1000px) {
                font-size: sfont-adapter(30);
                color: #D89F1C;
                margin: 0 3.333vw;
            }
        }
    }

    .top_recruit_ideas_bg_right {
        @extend %bg_right;
        top: 5.556vw;

        @media (max-width: 1000px) {
            width: 76.667vw;
            height: 92.667vw;
            background-position: 9.867vw 0px;
            top: 20vw;
        }
    }

    .top_recruit_title {
        width: 91.528vw;
        margin: 0 auto;
        margin-top: 21.528vw;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-items: space-between;

        @media (max-width: 1000px) {
            width: 100%;
            margin: 0 auto;
            margin-top: 17.333vw;
            display: flex;
            flex-direction: column;
            align-items: normal;
            justify-items: normal;
        }

        .top_recruit_title_de {
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-between;

            @media (max-width: 1000px) {
                width: auto;
                margin-left: 4vw;
                display: flex;
                flex-direction: column;
                align-items: normal;
                justify-content: normal;
            }

            h1 {
                @extend %home_h1;
                color: $font_color3;

                @media (max-width: 1000px) {
                    font-size: sfont-adapter(100);
                }
            }

            h2 {
                @extend %home_h2;
                color: $font_color3;
                margin-top: 2.083vw;

                @media (max-width: 1000px) {
                    font-size: sfont-adapter(30);
                    margin-top: 4vw;
                }
            }
        }

        .top_recruit_title_btn {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: 0;

            @media (max-width: 1000px) {
                margin: 0 auto;
                margin-top: 12.8vw;
                display: flex;
                flex-direction: column;
            }

            p {
                font-family: 'NotoSansCJKjp';
                font-size: font-adapter(30);
                font-weight: bold;
                color: $font_color5;

                @media (max-width: 1000px) {
                    margin: 0 auto;
                    font-size: sfont-adapter(20);
                }
            }

            .top_recruit_btn {
                @extend %home_btn;
                border-radius: 2.083vw;
                background-color: $button_color;
                margin-top: 7.917vw;
                margin-left: 11.111vw;

                @media (max-width: 1000px) {
                    margin: 0 auto;
                    margin-top: 12.4vw;
                    background-color: $button_color;
                    border-radius: 4vw;
                    z-index: 10;
                    width: 34.667vw;
                    height: 8vw;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    div {
                        width: 34.667vw;
                        height: 8vw;
                        transition: all 0.3s;
                        position: relative;
                        border-radius: 4vw;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        text-align: center;
                        justify-content: center;

                        span {
                            font-family: NotoSansCJKjp;
                            font-size: sfont-adapter(16);
                            font-weight: bold;
                            color: $font_color4;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            right: 1.2em;
                            top: 48%;
                            -webkit-transform: translate(0, -50%);
                            transform: translate(0, -50%);
                            width: 3.467vw;
                            height: 2vw;
                            background-image: url(../res/top_arrow.png);
                            background-size: contain;
                            background-repeat: no-repeat;
                            transition: 0.5s;
                        }

                        &:hover {
                            opacity: 0.8;
                        }

                        &:hover::after {
                            right: 0.5em;
                        }
                    }
                }
            }
        }
    }

    .top_recruit_imgshow {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        height: 68.056vw;
        transform: skewY(3deg);
        background-color: $button_color;
        margin-top: 5.556vw;

        @media (max-width: 1000px) {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: flex-start;
            height: 62vw;
            transform: skewY(3deg);
            background-color: $button_color;
            margin-top: 14.667vw;
        }

        img {
            position: relative;
            width: 20%;
            height: 55.556vw;
            border: 0;
            padding: 0;
            margin: 0;

            @media (max-width: 1000px) {
                position: relative;
                height: 100%;
                width: 20%;
                border: 0;
                padding: 0;
                margin: 0;
            }
        }
    }
}

.top_services {
    padding-top: 0;
    padding-bottom: 6.708vw;
    box-sizing: border-box;

    @media (max-width: 1000px) {
        padding-top: 0;
        padding-bottom: 14.667vw;
        box-sizing: border-box;
    }

    .top_services_content {
        width: 93.958vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        @media (max-width: 1000px) {
            width: 100%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
        }

        .top_services_top {
            width: 100%;
            height: 7.292vw;

            @media (max-width: 1000px) {
                width: 100%;
                height: auto;
            }

            .top_services_top_title {
                @extend %home_title;
                color: $theme_color;

                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    height: auto;
                }

                p {
                    color: $theme_color;

                    @media (max-width: 1000px) {
                        font-size: sfont-adapter(30);
                    }
                }

                .top_services_top_underline {
                    width: 18vw;
                    border-bottom: 3px solid $theme_color;

                    @media (max-width: 1000px) {
                        width: 28.667vw;
                    }
                }
            }
        }

        .top_services_body {
            position: relative;

            @media (max-width: 1000px) {
                position: relative;
            }

            .top_services_body_top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                margin-top: 12.222vw;

                @media (max-width: 1000px) {
                    display: flex;
                    flex-direction: column;
                    justify-content: normal;
                    margin-top: 0;
                }

                .top_services_body_bg_left {
                    @extend %bg_left;
                    top: 2.778vw;
                    left: -2.083vw;

                    @media (max-width: 1000px) {
                        width: 76.667vw;
                        height: 92.667vw;
                        background-position: 0px 0px;
                        top: 10.667vw;
                    }
                }

                .top_services_title {
                    margin-top: 7.986vw;

                    @media (max-width: 1000px) {
                        margin-top: 43.067vw;
                        margin-left: 4vw;
                    }

                    h1 {
                        @extend %home_h1;
                        color: $theme_color;

                        @media (max-width: 1000px) {
                            font-size: sfont-adapter(100);
                        }
                    }

                    h2 {
                        @extend %home_h2;
                        color: $theme_color;
                        margin-top: 2.083vw;

                        @media (max-width: 1000px) {
                            font-size: sfont-adapter(30);
                            margin-top: 4vw;
                        }
                    }
                }

                img {
                    width: 39.931vw;

                    @media (max-width: 1000px) {
                        margin-top: 8.533vw;
                        width: 44vw;
                        margin-right: 0;
                        margin-left: auto;
                        z-index: -2;
                    }
                }
            }

            %services_h1 {
                font-size: font-adapter(34);
                font-family: "NotoSansCJKjp";
                font-weight: bold;
                color: $font_color5;
                margin: 0;
            }

            %services_h2 {
                font-size: font-adapter(18);
                font-family: "NotoSansCJKjp";
                font-weight: normal;
                color: $font_color5;
                margin: 0;
            }

            .top_services_body_center {
                width: 100%;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                margin-top: 12vw;

                @media (max-width: 1000px) {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    justify-content: normal;
                    align-items: normal;
                    margin-top: 0;
                }

                .top_services_img_pc {
                    height: 28.125vw;

                    @media (max-width: 1000px) {
                        display: none;
                    }
                }

                .top_services_img_m {
                    display: none;

                    @media (max-width: 1000px) {
                        display: block;
                        width: 90.667vw;
                        height: auto;
                        margin-bottom: 8.667vw;
                    }
                }

                .m_r {
                    margin-right: 0;
                    margin-left: auto
                }

                .m_l {
                    margin-left: 0;
                    margin-right: auto
                }

                .top_services_body_center_text {
                    @media (max-width: 1000px) {
                        margin-left: 4vw;
                        margin-top: 12vw;
                        margin-bottom: 13.333vw;

                    }

                    h1 {
                        @extend %services_h1;

                        @media (max-width: 1000px) {
                            font-size: sfont-adapter(34);
                        }
                    }

                    h2 {
                        @extend %services_h2;

                        @media (max-width: 1000px) {
                            font-size: sfont-adapter(18);
                            margin-bottom: 4vw;

                        }
                    }

                    .top_services_btn_01 {
                        @extend %home_btn;
                        background-color: $theme_color;
                        border-radius: 2.083vw;
                        margin-top: 12.639vw;
                        float: right;

                        @media (max-width: 1000px) {
                            float: none;
                            margin: 0 auto;
                            margin-top: 8.667vw;
                            background-color: $theme_color;
                            border-radius: 4vw;
                            z-index: 10;
                            width: 34.667vw;
                            height: 8vw;
                            display: flex;
                            align-items: center;
                            justify-content: space-between;

                            div {
                                width: 34.667vw;
                                height: 8vw;
                                transition: all 0.3s;
                                position: relative;
                                border-radius: 4vw;
                                display: flex;
                                flex-direction: row;
                                align-items: center;
                                text-align: center;
                                justify-content: center;

                                span {
                                    font-family: NotoSansCJKjp;
                                    font-size: sfont-adapter(16);
                                    font-weight: bold;
                                    color: $font_color4;
                                }

                                &::after {
                                    content: "";
                                    position: absolute;
                                    right: 1.2em;
                                    top: 48%;
                                    -webkit-transform: translate(0, -50%);
                                    transform: translate(0, -50%);
                                    width: 3.467vw;
                                    height: 2vw;
                                    background-image: url(../res/top_arrow.png);
                                    background-size: contain;
                                    background-repeat: no-repeat;
                                    transition: 0.5s;
                                }

                                &:hover {
                                    opacity: 0.8;
                                }

                                &:hover::after {
                                    right: 0.5em;
                                }
                            }
                        }
                    }

                    .top_services_btn_02_pc {
                        @extend %home_btn;
                        width: 20.833vw;
                        background-color: $theme_color;
                        border-radius: 2.083vw;
                        margin-top: 12.639vw;
                        float: left;

                        @media (max-width: 1000px) {
                            display: none;
                        }
                    }


                }

                .top_services_btn_02_m {
                    display: none;

                    @media (max-width: 1000px) {
                        margin: 0 auto;
                        margin-top: 8.667vw;
                        background-color: $theme_color;
                        border-radius: 4vw;
                        z-index: 10;
                        width: 40vw;
                        height: 8vw;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        div {
                            width: 100%;
                            height: 100%;
                            transition: all 0.3s;
                            position: relative;
                            border-radius: 4vw;
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            text-align: center;
                            justify-content: center;

                            span {
                                font-family: NotoSansCJKjp;
                                font-size: sfont-adapter(16);
                                font-weight: bold;
                                color: $font_color4;
                            }

                            &::after {
                                content: "";
                                position: absolute;
                                right: 1.2em;
                                top: 48%;
                                -webkit-transform: translate(0, -50%);
                                transform: translate(0, -50%);
                                width: 3.467vw;
                                height: 2vw;
                                background-image: url(../res/top_arrow.png);
                                background-size: contain;
                                background-repeat: no-repeat;
                                transition: 0.5s;
                            }

                            &:hover {
                                opacity: 0.8;
                            }

                            &:hover::after {
                                right: 0.5em;
                            }
                        }
                    }

                }
            }
        }
    }

    .top_services_bottom {
        margin-top: 10.069vw;
        width: 100%;
        height: 2.778vw;
        background-color: $theme_color;
        transform: skewY(5deg);

        @media (max-width: 1000px) {
            height: 7.333vw;
        }
    }
}

.top_news {
    padding-top: 0;
    padding-bottom: 0;
    box-sizing: border-box;
    position: relative;

    @media (max-width: 1000px) {
        padding-top: 0;
        padding-bottom: 0;
        box-sizing: border-box;
        position: relative;
    }

    .top_news_content {
        width: 68.333vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 6.5vw;

        @media (max-width: 1000px) {
            width: 87.733vw;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-top: 0;
        }

        a {
            padding-left: 1em;
            padding-right: 1em;
            &:hover {
                opacity: 0.6;
            }
        }
        br{
            height: 0.694vw
        }

        h1 {
            @extend %home_h1;
            font-size: font-adapter(130);
            color: $font_color5;

            @media (max-width: 1000px) {
                font-size: sfont-adapter(100);
            }
        }

        h2 {
            @extend %home_h2;
            color: $font_color5;
            margin-top: 2.083vw;
            margin-bottom: 5.208vw;
            font-size: font-adapter(40);


            @media (max-width: 1000px) {
                font-size: sfont-adapter(30);
                margin-top: 3.333vw;
                margin-bottom: 12.667vw;
            }
        }

        h3 {
            font-size: font-adapter(16);
            font-family: "NotoSansCJKjp";
            font-weight: normal;
            color: $font_color5;
            padding-top: 1.875vw;
            padding-bottom: 1.875vw;
            font-weight: normal;
            line-height: 1;

            @media (max-width: 1000px) {
                font-size: sfont-adapter(16);
                padding-top: 4vw;
                padding-bottom: 4vw;
            }

            span {
                font-weight: bold;
                display: block;

                @media (max-width: 1000px) {
                    font-size: sfont-adapter(16);
                    margin-bottom: 0.5vw;
                }
            }
        }

        .top_news_btn {
            @extend %home_btn;
            background-color: $button_color3;
            border-radius: 2.083vw;
            margin-top: 4.167vw;
            margin-right: 0;
            margin-left: auto;

            @media (max-width: 1000px) {
                margin: 0 auto;
                margin-top: 8.667vw;
                background-color: $button_color3;
                border-radius: 4vw;
                z-index: 10;
                width: 34.667vw;
                height: 8vw;
                display: flex;
                align-items: center;
                justify-content: space-between;

                div {
                    width: 34.667vw;
                    height: 8vw;
                    transition: all 0.3s;
                    position: relative;
                    border-radius: 4vw;
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    text-align: center;
                    justify-content: center;

                    span {
                        font-family: NotoSansCJKjp;
                        font-size: sfont-adapter(16);
                        font-weight: bold;
                        color: $font_color4;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        right: 1.2em;
                        top: 48%;
                        -webkit-transform: translate(0, -50%);
                        transform: translate(0, -50%);
                        width: 3.467vw;
                        height: 2vw;
                        background-image: url(../res/top_arrow.png);
                        background-size: contain;
                        background-repeat: no-repeat;
                        transition: 0.5s;
                    }

                    &:hover {
                        opacity: 0.8;
                    }

                    &:hover::after {
                        right: 0.5em;
                    }
                }
            }
        }

        hr {
            color: #e1e3e6;
            width: 100%;
            height: 1px;
        }
    }
}

.top_news_map {
    width: 100%;
    height: 36.528vw;
    position: relative;
    top: 8.75vw;
    border: 0;

    @media (max-width: 1000px) {
        top: 8.8vw;
        width: 100%;
        height: 66.667vw;
    }

    iframe {
        width: 100%;
        height: 100%;
        border: none;
        -webkit-clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
        clip-path: polygon(0 0, 100% 24%, 100% 100%, 0 76%);
        border: 0;

        @media (max-width: 1000px) {
            -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
            clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
        }
    }
}