$theme_color: #234670;
$font_color4: #FFFFFF;
@import 'pxtovw.scss';
@import '_variable.scss';

.bottom_top {
    height: 8.749vw;
    background-color: $theme_color;
    -webkit-clip-path: polygon(0 0, 0% 100%, 100% 100%);
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
    margin-bottom: -0.035vw;

    @media (max-width: 1000px) {
        margin-bottom: -0.067vw;
    }
}

.bottom {
    width: 100%;
    background-color: $theme_color;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;




    .bottom_content {
        width: 83.75vw;
        margin: 0 auto;
        padding-top: 15.278vw;

        @media (max-width: 1000px) {
            width: 100%;
            padding-top: 18.667vw;
        }

        .bottom_content_title {
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            width: 100%;
            position: relative;

            @media (max-width: 1000px) {
                display: flex;
                flex-direction: row;
                align-items: flex-end;
            }

            .bottom_logo {
                display: block;
                margin: 0 auto;
                width: 24.097vw;
                height: 5.903vw;

                @media (max-width: 1000px) {
                    width: 46.267vw;
                    height: 11.333vw;
                }
            }

            .bottom_btn {
                position: absolute;
                right: 9.722vw;
                bottom: 0;
                width: 2.5vw;
                height: 2.5vw;


                @media (max-width: 1000px) {
                    right: 18.667vw;
                    width: 4.8vw;
                    height: 4.8vw;
                }
            }
        }




        .bottom_ul {
            display: flex;
            flex-direction: row;
            margin: 0 auto;
            align-items: flex-start;
            justify-content: space-between;
            margin-top: 9.722vw;
            margin-bottom: 12.5vw;


            @media (max-width: 1000px) {
                display: none;
            }

            li {
                display: flex;
                flex-direction: column;
                align-items: flex-start;




                a {
                    display: block;
                    color: $font_color4;
                    text-align: left;

                    &:hover {
                        opacity: 0.6;
                    }

                    span {
                        font-family: NotoSansCJKjp;
                        font-size: font-adapter(16);
                        font-weight: bold;
                    }

                    p {
                        font-family: Raleway;
                        font-size: font-adapter(14);
                        font-weight: bold;
                        padding-bottom: 0;
                        margin-bottom: 2.083vw;
                    }

                }

                .bottom_menu_second {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    list-style-position: inside;
                    list-style-type: circle;
                    li {
                        list-style-position: inside;
                        list-style-type: circle;
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        a {
                            font-size: font-adapter(14);
                            color: #FFFFFF;
                          
                        }
                        img{
                            width: 0.208vw;
                            height: 0.208vw;
                            margin-right: 0.417vw;
                        }

                    }
                }

            }
        }
    }

    p {
        font-family: NotoSansCJKjp;
        font-size: font-adapter(16);
        color: $font_color4;
        text-align: left;
        margin: 0 auto;
        padding-bottom: 10.417vw;
        line-height: 1.5;

        @media (max-width: 1000px) {
            font-size: sfont-adapter(16);
            margin-top: 18.667vw;
            padding-bottom: 13.333vw;
            line-height: 1.5;
        }
    }
}



footer {
    width: 100%;
    height: 50px;
    background-color: #000000;

    .footer_content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;

        a {
            display: flex;
            color: $font_color4;
            font-weight: bold;
            font-size: font-adapter(16);
            display: flex;
            align-items: center;

            @media (max-width: 1000px) {
                font-size: sfont-adapter(14);
            }

            img {
                margin-left: 2.778vw;
                margin-right: 0.417vw;

                @media (max-width: 1000px) {
                    margin-left: 3.733vw;
                    margin-right: 0.667vw;
                }
            }
        }

        img {
            margin-left: 4.444vw;

            @media (max-width: 1000px) {
                margin-left: 3.333vw;
            }
        }

        p {
            font-size: font-adapter(16);
            font-family: "NotoSansCJKjp";
            font-weight: normal;
            color: $font_color4;
            margin-right: 4.514vw;
            margin-left: auto;

            @media (max-width: 1000px) {
                font-size: sfont-adapter(1);
                margin-right: 20.002px;
                margin-left: auto;
            }
        }
    }
}