$theme_color: #234670;
$background_color: #FFFFFF;
$font_color1: #333333;
$font_color2: #A2453A;
$font_color3: #D89F1C;
$font_color4: #FFFFFF;
$font_color5: #000000;
$button_color: #D89F1C;
$button_color2: #FFFFFF;
$button_color3: #000000;

%home_btn {
    width: 18.056vw;
    height: 4.167vw;
    display: block;
    display: flex;
    align-items: center;
    justify-content: space-between;

    div {
        width: 18.056vw;
        height: 4.167vw;
        transition: all 0.3s;
        position: relative;
        border-radius: 2.083vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        justify-content: center;

        span {
            font-family: NotoSansCJKjp;
            font-size: font-adapter(16);
            font-weight: bold;
            color: $font_color4;
        }

        &::after {
            content: "";
            position: absolute;
            right: 1.2em;
            top: 48%;
            -webkit-transform: translate(0, -50%);
            transform: translate(0, -50%);
            width: 1.806vw;
            height: 1.042vw;
            background-image: url(../res/top_arrow.png);
            background-size: contain;
            background-repeat: no-repeat;
            transition: 0.5s;
        }

        &:hover {
            opacity: 0.8;
        }

        &:hover::after {
            right: 0.5em;
        }

    }
}

%home_h1 {
    line-height: 1;
    font-size: font-adapter(110);
    font-family: "Raleway";
    font-weight: bold;
    margin: 0;
}

%home_h2 {
    font-size: font-adapter(35);
    line-height: 1;
    font-family: "NotoSansCJKjp";
    font-weight: bold;
    margin: 0;
}

%home_p {
    font-size: font-adapter(30);
    font-weight: bold;
    font-family: "NotoSansCJKjp", sans-serif;
    margin: 0;
    padding: 20px 0 0;
    text-align: center;
}

%home_underline {
    display: block;
    height: 1px;
    margin: 0 auto;
    margin-top: 20px;
}

%home_title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}